/* some styles for the demo page, not required for the plugin  */

/* ----------------------------- */
/* ==soft reset */
/* ----------------------------- */

body {
    margin: 0;
}

/* ----------------------------- */
/* ==header */
/* ----------------------------- */

header ul li {
    display: inline-block;
    text-align: left;
}

header ul li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #444;
}

header ul li a:hover {
    background-color: #ccc;
}

/* ----------------------------- */
/* ==menu */
/* ----------------------------- */

.front {
    padding: 15px;
}
